* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: block;
}

.button {
  display: flex;
  height: 500px;
}

.start-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f6cff2;
}

.start-button {
    background-color: #ffc2f3;
    border-radius: 42px;
    border: 6px solid #ffdbab;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Courier New;
    font-size: 25px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
    position: relative;
    top: 20px;
    height: 12.5%;
    width: 25%;
}
.start-button:hover {
    background-color: #f5b3ed;
}
.start-button:active {
    position: relative;
    top: 1px;
}

#Welcome-Text {
    color: #ffffff;
    text-shadow: 4px 3px 0px #7a7a7a;
    color: #ffffff;
    font-size: 7em;
}


.battle {
  /* display: none; */
  display: flex;
  height: 100vh;
  justify-content:center;
}

.player-actions{
    height: 25%;
    width: 75%;
    position: absolute;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd5fa;

}
.top-row{
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.bottom-row{
    display:flex;
    height:50%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.player-actions button{
    height:95%;
    width:45%;
    font-size: 250%;
    border-radius: 25px;
}

.mana-potion{
    justify-content: space-evenly;
    align-items: center;
}
.health-potion{
    justify-content: space-evenly;
    align-items: center;
}
.hidden {
    display: none;
}